<mat-toolbar>Reportes</mat-toolbar>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" [(ngModel)]="fechaSeleccionada">
  
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button color="primary" (click)="cambiar('line')">Lineal</button>
<button mat-button color="primary" (click)="cambiar('bar')">Barras</button>
<button mat-button color="primary" (click)="cambiar('doughnut')">Rosquilla</button>
<button mat-button color="primary" (click)="cambiar('radar')">Radar</button>
<button mat-button color="primary" (click)="cambiar('pie')">Pie</button>

<div [hidden]="!chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
